<div class="grid p-5">
    <div class="col-12">
        <h5>{{ title }}</h5>
        <p-table [value]="users" [paginator]="true" [rows]="10" [totalRecords]="100" responsiveLayout="scroll"
            styleClass="p-datatable-gridlines p-datatable-sm">
            <ng-template pTemplate="header">
                <tr class="text-xs">
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <!-- <th style="text-align:center; width: 5%;">Edit</th>
                    <th style="text-align:center; width: 5%;" >Delete</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr class="text-xs">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.user_type}}</td>

                    <!-- <td><p-button styleClass="p-button-text p-button-sm" (click)="updateUser(user.id)" icon="pi pi-pencil"></p-button></td>
                    <td><p-button styleClass="p-button-text p-button-sm text-pink-600" (click)="deleteUser(user.id)" icon="pi pi-trash"></p-button></td>
                -->
            </tr>
            </ng-template>
        </p-table>
    </div>
</div>

    
